{% comment %}
  Hey there! This snippet is managed by Locksmith (uselocksmith.com). You can
  fiddle with what's below, but your changes will be reset the next time that
  Locksmith interacts with your shop.

  Last updated: Wed, 26 Oct 2016 01:36:05 +0000
  Integration version: v4.13
{% endcomment %}

{%assign _0 = customer%}{%assign _1 = shop%}{%capture locksmith_customer_register_form%}{%if _1.customer_accounts_enabled%}
      <script src="//cdn.shopify.com/s/assets/themes_support/shopify_common-560aead139dc90d812ab2864e525084f7410876b146af25d903c665092c98dc0.js" type="text/javascript"></script><script src="//cdn.shopify.com/s/assets/themes_support/customer_area-9c8d9688a815ed8c8e93bbdd8c6c89ed98f008ea2cac0324587ea3cccf4ce98c.js" type="text/javascript"></script>

      <div class="sixteen columns clearfix collection_nav">
  <h1 class="center">{{'customer.register.title'|t}}</h1>
  <div class="feature_divider"></div>
</div>

<div class="section clearfix">  
  <div class="six columns offset-by-five">
    <br class="clear" />
    <div id="customer">
      <!-- Create Customer -->
      <div id="create-customer">
{%form 'create_customer'%}{{form.errors|default_errors}}

          <div id="first_name" class="clearfix large_form">
            <label for="first_name" class="login">{{'customer.register.first_name'|t}}</label>
            <input type="text" value="" name="customer[first_name]" id="first_name" class="large" size="30" />
          </div>

          <div id="last_name" class="clearfix large_form">
            <label for="last_name" class="login">{{'customer.register.last_name'|t}}</label>
            <input type="text" value="" name="customer[last_name]" id="last_name" class="large" size="30" />
          </div>

          <div id="email" class="clearfix large_form">
            <label for="email" class="login">{{'customer.register.email'|t}}</label>
            <input type="email" value="" name="customer[email]" id="email" class="large" size="30" />
          </div>

          <div id="password" class="clearfix large_form">
            <label for="password" class="login">{{'customer.register.password'|t}}</label>
            <input type="password" value="" name="customer[password]" id="password" class="large password" size="30" />
          </div>

          <div class="action_bottom">
            <input class="btn action_button" type="submit" value="{{'customer.register.sign_up'|t}}" />
            <p class="right" style="padding-top: 8px;">
{{'customer.register.returning_customer_label'|t}}{{'customer.register.sign_in_html'|t|customer_login_link}}
            </p>
          </div>

        <input type="hidden" id="register_return_to" name="return_to" value="" />{%endform%}
      </div><!-- /#create-customer -->
    </div>
  </div>
</div>

      <script type="text/javascript">
        document.body.className = "customers-register ";
        
        window.document.title = "Create Account - coLLo Apparel";

        var returnTo = window.location.protocol + '//' + window.location.host + ('{{locksmith_path}}' || window.location.pathname) + window.location.search;

        if (document.getElementsByName) {
          var nodes = document.getElementsByName('return_to');
          for (var i = 0; i < nodes.length; i++) {
            nodes[i].value = '{{locksmith_path}}' || window.location.pathname;
          }
        } else {
          document.getElementById('register_return_to').value = returnTo;
        }
      </script>
{%endif%}{%endcapture%}{%capture locksmith_customer_login_form%}{%if _1.customer_accounts_enabled%}
      <script src="//cdn.shopify.com/s/assets/themes_support/shopify_common-560aead139dc90d812ab2864e525084f7410876b146af25d903c665092c98dc0.js" type="text/javascript"></script><script src="//cdn.shopify.com/s/assets/themes_support/customer_area-9c8d9688a815ed8c8e93bbdd8c6c89ed98f008ea2cac0324587ea3cccf4ce98c.js" type="text/javascript"></script>

      <div class="sixteen columns clearfix collection_nav">
  <h1 class="center">{{'customer.login.title'|t}}</h1>
  <div class="feature_divider"></div>
</div>

<div class="clearfix" id="customer">  
  <br class="clear" />
  <br class="clear" />
  <div class="six columns offset-by-five animated fadeInUp" id="login_form">
{%form 'customer_login'%}{{form.errors|default_errors}}

      <label for="customer_email" class="login">{{'customer.login.email'|t}}</label>
      <input type="email" value="" name="customer[email]" id="customer_email" class="large" size="30"  autocorrect="off" autocapitalize="off" tabindex="1" />
{%if form.password_needed%}{%comment%}
          Customer Account Login
{%endcomment%}

        <small class="right"><em><a href="#" onclick="showRecoverPasswordForm()">{{'customer.login.forgot_password'|t}}</a></em></small>
        <label for="customer_password" class="login">{{'customer.login.password'|t}}</label>
        <input type="password" value="" name="customer[password]" id="customer_password" class="large password" size="16" tabindex="2" />
{%endif%}

      <input class="btn action_button" type="submit" value="{{'customer.login.sign_in'|t}}" style="margin-bottom: 5px !important" tabindex="3" />
{%unless _1.checkout.guest_login%}
        <p class="right" style="padding-top: 10px;">
{{'customer.login.new_customer_label'|t}}{{'customer.login.sign_up_html'|t|customer_register_link}}
        </p>
{%endunless%}
    <input type="hidden" id="login_checkout_url" name="checkout_url" value="" />{%endform%}{%if _1.checkout.guest_login%}
      <span class="or"> {{'customer.login.or'|t}} </span>
{%form 'guest_login'%}
        <input class="guest_button" type="submit" value="{{'customer.login.guest_title_html'|t}}" />
      <input type="hidden" id="login_checkout_url" name="checkout_url" value="" />{%endform%}{%endif%}
  </div>
    
    <div id="recover-password" style='display:none'>
      <div class="six columns offset-by-five animated fadeInUp">
    
        <h4>{{'customer.recover_password.title'|t}}</h4>
{%form 'recover_customer_password'%}{{form.errors|default_errors}}{%if form.posted_successfully?%}{%assign reset_success = true%}{%endif%}

          <div id="recover_email" class="clearfix large_form">
            <label for="email" class="large">{{'customer.recover_password.email'|t}}</label>
            <input type="email" value="" size="30" name="email" id="recover-email" class="large" autocorrect="off" autocapitalize="off" />
          </div>
          
          <p>
            <em class="note">{{'customer.recover_password.subtext'|t}}</em>
          </p>
          
          <div class="action_bottom">
            <input class="btn action_button" type="submit" value="{{'customer.recover_password.submit'|t}}" />
            <span class="note">{{'customer.recover_password.or'|t}} <a href="#" onclick="hideRecoverPasswordForm()">{{'customer.recover_password.cancel'|t}}</a></span>
          </div>
        <input type="hidden" id="login_checkout_url" name="checkout_url" value="" />{%endform%}
      </div>
    </div>
  </div>
</div>

<br class="clear" />
<br class="clear" />

<script type="text/javascript">
  function showRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'block';
    document.getElementById('login_form').style.display='none';
    return false;
  }

  function hideRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'none';
    document.getElementById('login_form').style.display = 'block';
    return false;
  }

  if (window.location.hash == '#recover') { showRecoverPasswordForm() }

  // reset_success is only true when the reset form is
{%if reset_success%}
    showRecoverPasswordForm();
{%endif%}
</script>

      <script type="text/javascript">
        document.body.className = "customers-login ";
        
        window.document.title = "Account - coLLo Apparel";

        var checkoutUrl = window.location.protocol + '//' + window.location.host + ('{{locksmith_path}}' || window.location.pathname) + window.location.search;

        checkoutUrl = checkoutUrl.replace('/account/login', '/');

        if (document.getElementsByName) {
          var nodes = document.getElementsByName('checkout_url');
          for (var i = 0; i < nodes.length; i++) {
            nodes[i].value = checkoutUrl;
          }
        } else {
          document.getElementById('login_checkout_url').value = checkoutUrl;
        }
      </script>
{%endif%}{%endcapture%}{%assign customer_login_form = locksmith_customer_login_form%}{%assign customer_register_form = locksmith_customer_register_form%}{%unless locksmith_guest_content%}{%capture locksmith_guest_content%}
      <p><strong>This content is protected</strong> - please log in with your customer account to continue.</p>
{{customer_login_form}}{%endcapture%}{%endunless%}{%unless locksmith_access_denied_content%}{%capture locksmith_access_denied_content%}{%if _0%}
        <p><strong>This content is protected, but it doesn't look like you have access.</strong> If you feel this is a mistake, please contact the store owner.</p>
{%if locksmith_manual_lock%}
          <p><a href="#" onclick="window.parent.__locksmith_hide_frame(); return false;">&lsaquo; Back</a></p>
{%endif%}{%else%}{{locksmith_guest_content}}{%endif%}{%endcapture%}{%endunless%}