{% if product.available %}

{% for option in product.options %}
	{% if option contains "Size" %}
        {% assign optionName = "option" | append: forloop.index %}
        {% assign colors = product.variants | map: optionName %}
        {% assign colorsFiltered = '' %}
        {% for colorOption in colors %}
          {% unless colorsFiltered contains colorOption %}
          {% assign colorsFiltered = colorsFiltered | append: ', ' | append: colorOption %}
        {% endunless %}
        {% endfor %}

	{% endif %}
{% endfor %}

{% assign uniqueColors = colorsFiltered | remove_first: ', ' | split: ', ' %}
<style>
    .swatch-element.color {
        padding: 0 !important;
        overflow: hidden !important;
        width: 30px;
        height: auto !important;
    }

    .swatch-element.color label{
        padding: 0;
        margin: -1px;
        // background: url('//cdn.shopify.com/s/files/1/1456/8544/t/2/assets/charcoal.png?6905785656812539204');
        background: url('//cdn.shopify.com/s/files/1/1456/8544/t/2/assets/twilight.png?6905785656812539204');
    }
}
</style>

<form id="product-form-{{ product.id }}"  class="clearfix"  data-money-format="{{ shop.money_format }}" data-shop-currency="{{ shop.currency }}" >





    <div class="chart-container">
      <table class="no-borders">
      <!--add row for each item-->
       {% assign count = 1 %}
       {% assign show_sizes = true %}

       {% for variant in product.variants %}
        {% assign size = variant.title | split: '/' %}

          {% if count == 1  %}
        	<tr>
              <td width="35">
                <!-- color column -->

                {% if show_sizes == true  %}
                <span class="size-title no-border">&nbsp;&nbsp;&nbsp;</span>
                {% endif %}


                {% assign color_name = size | first | strip %}


                {% for option in product.options %}
                  {% if option == 'Color' %}
                    {% assign index = forloop.index0 %}
                    {% assign colorlist = '' %}
                    {% assign color = '' %}

                	{% for variant in product.variants %}
                      {% capture color | strip %}
                      {{ variant.options[index] }}
                      {% endcapture %}
                      {% unless colorlist contains color %}

                		{% assign color_temp = color | strip %}

                		{% if color_name == color_temp %}
                   <div class="swatch_options">
                		  <div class="swatch_options">

                <div class="swatch clearfix" data-option-index="{{ index }}">

             		<input id="swatch-{{ index }}-{{ color | handle | strip }}-{{ product.id }}" type="radio" name="option-{{ index }}"
                               value="{{ color | handle | strip }}" />
                    <div data-value="{{ color | handle | strip }}" class="swatch-element color {{ color | handle | strip }}-swatch">


                    <label for="swatch-{{ index }}-{{ color | handle | handle }}-{{ product.id }}"
                                  style="">
                          <img class="color-image" data-color="{{ color | strip  }}" src="{{ color | handle | append: '.' | append: 'png' | asset_url }}" alt="{{ color | handle  }}" width="35" height="35" />
                     </label>

   	<script type="text/javascript">
        $('.swatch[data-option-index="{{ index }}"] .{{ color | handle }}-swatch', '#product-form-{{ product.id }}').removeClass('soldout').addClass('available').find(':radio');
      </script>

                        </div>
                </div>
                </div>
                </div>




                		{% endif %}

                      {% capture tempList %}
                      {{colorlist | append: color | append: ' '}}
                      {% endcapture %}
                      {% assign colorlist = tempList %}

                    {% endunless %}
                    {% endfor %}
                  {% endif %}
                {% endfor %}

              </td>
              <td>
                	{% if show_sizes == true  %}
                		<span class="size-title no-border">&nbsp;&nbsp;&nbsp;</span>
                	{% endif %}

                	<span class="color-title">{{ size | first }}</span>
              </td>
          {% endif %}

          <td>
            {% if show_sizes == true  %}
            <span class="size-title">{{ size | last }}</span>
            {% endif %}
            <input class="quantity-value" data-size="{{ size | last |strip }}" data-color="{{ size | first |strip }}" data-variant-id="{{variant.id}}" type="text" name="quantity-{{variant.id}}" id="quantity-{{variant.id}}" value="0"/>
          </td>

        {% if count == uniqueColors.size  %}

              <td>
                {% if show_sizes == true  %}
                <span class="size-title">Totals</span>
                {% endif %}
              	<input type="text" disabled data-total-field="{{ size | first |strip }}" value="0" class="total-row" data-variant-id="{{variant.id}}" />
              </td>

        	</tr>

        	{% assign count = 1 %}
        	{% assign show_sizes = false %}

        {% else %}
            {% assign count = count | plus: 1 %}

        {% endif %}

	   {% endfor %}

      <tr>
        <td></td>
        <td></td>
        {% assign limit = uniqueColors.size | plus: 1 %}


        {% for option in uniqueColors %}
        <td>
          	<input disabled type="text" data-total-field-size="{{ option }}" value="0" class="total-size total-row"  />
        </td>
        {% endfor %}

        <td>
        	<input type="text" value="0" class="super-total total-row" id="super-total"  />
        </td>

      </tr>

      <tr>
        <td colspan="{{ uniqueColors.size | plus: 3 }}" class="title">
          <input type="submit" name="add" value="Add To Cart" id="purchase" id="add" class="button"/>
        </td>
      </tr>

      </table>

    </div>
</form>

 {% if product.variants.size > 1 or product.options.size > 1 %}
    <script type="text/javascript">
      // <![CDATA[
        $(function() {
          $product = $('.product-' + {{ product.id }});
          new Shopify.OptionSelectors("product-select-{{ product.id }}{{ product-form }}", { product: {{ product | json }}, onVariantSelected: selectCallback{% if template contains 'product' %}, enableHistoryState: true{% endif %} });
        });
      // ]]>
    </script>
  {% endif %}


{% endif %}

<script type="text/javascript">

    /**
    *  SKU listener
    *  Update displayed SKU  when the user clicks on a product thumbnail
    *  Scope:  Reseller store
    *  Jaziel Lopez, <juan.jaziel@gmail.com>
    *  Arte Digital, MX
    *  Jan, 2017.
    **/

    var iterable = {}, variants = [], key ='', code = '', sku = '', activeThumbnail = '', previous = '', skip = false;

    iterable = JSON.parse('{{ product.variants | json }}');

    for(var iterate in iterable) {

        key = iterable[iterate].option1;

        if(typeof key === undefined || key === null) {

            continue;
        }

        skip = false;
        key = key.toLowerCase();

        for (var swatch in variants){

            // skip duplicated color
            skip = variants[swatch].color === key;
        }

        if(!skip){

            // push unique swatches color
            variants.push({ color: key, sku: iterable[iterate].sku});
        }

    }

    console.info('[jlopez] - unique swatch variants:');
    console.info(variants);

    var skuListener = function skuListener(e){

        try{

            activeThumbnail
                = $('.flex-active-slide')[0];

            sku = $(activeThumbnail).attr('data-title');

            previous
                 = $('p.sku > span').text();

            if(previous !== sku) {

                $('p.sku > span').empty();
                $('p.sku > span').append(sku);

                console.info('[jlopez] - Update SKU from %s to %s', previous, sku);
            }

         } catch(e){

            console.warn('[jlopez] - An error occurred updating SKU:')
            console.warn('[jlopez] - ' +  e.stack);
         }
    };

    var skuSwatchListener = function skuSwatchListener(e){

        try{

            swatchColor = $(this).attr('data-value');

            if(typeof swatchColor === undefined || swatchColor === null){

            	return false;
             }

    		for(swatch in variants){

                if(variants[swatch].color === swatchColor.toLowerCase()){

                    previous= $('p.sku > span').text();
                    sku = variants[swatch].sku;

                    if(previous !== sku) {

                        $('p.sku > span').empty();
                        $('p.sku > span').append(sku);

                        console.info('[jlopez] - Update SKU from %s to %s', previous, sku);
                        break;

                    } // end if

                } // end if

            } // end for

        } catch(e){

            console.warn('[jlopez] - An error occurred updating SKU:')
            console.warn('[jlopez] - ' +  e.stack);
        }
    };

    $(document).on('click', '.flex-control-nav > li, a.flex-nav.prev', skuListener);
    $(document).on('click', '.swatch-element.color', skuSwatchListener);

    /**
    * End of SKU listener block of update
    **/


  $( ".quantity-value" ).focusout(function() {


    var current_number = $(this).val();

    if($.isNumeric(current_number)){

      var data_color = $(this).attr('data-color');
      var data_size  = $(this).attr('data-size');

      var sum = 0;

      // total by color
      $('input[data-color="'+data_color+'"]').each(function() {
          sum = parseInt(sum) + parseInt( $(this).val() );
      });

      $('input[data-total-field="'+data_color+'"]').val(sum);

      // total by size
      var suma = 0;
      $('input[data-size="'+data_size+'"]').each(function() {
          suma = parseInt(suma) + parseInt( $(this).val() );
      });

      $('input[data-total-field-size="'+data_size+'"]').val(suma);

      // super total
      var super_total = 0;
      $('.total-size').each(function() {
          super_total = parseInt(super_total) + parseInt( $(this).val() );
      });

      $('#super-total').val(super_total);

    }else{
	   // not a number
      $(this).val(0);

    }


  });



$( ".color-image" ).click(function() {

     	var color_selected = $(this).attr('data-color');
        //console.log('click slide: '+ color_selected);


        $( ".li-slide" ).each(function( index ) {
      	  //console.log( index + ": " + $( this ).attr('data-thumb') );
          var color_exist = $( this ).attr('data-thumb').indexOf( color_selected );

          //console.log( color_exist );

          if(color_exist > 0){
             $(this).addClass('flex-active-slide');
             //console.log( index + ": " + $( this ).attr('data-thumb') );
             return true;
          }

    	});
});




  $('#product-form-{{ product.id }}').submit(function(event){


  	var super_total = $('#super-total').val();


    if( super_total >= 6 ){


        Shopify.queue = [];

        jQuery('.quantity-value').each(function() {

            Shopify.queue.push({
              variant_id: parseInt($(this).attr('data-variant-id')),
              quantity_id: $(this).val()
            });

        });


        Shopify.moveAlong = function() {
          // If we still have requests in the queue, let's process the next one.
          if (Shopify.queue.length) {
            var request = Shopify.queue.shift();
            Shopify.addItem(request.variant_id, request.quantity_id, Shopify.moveAlong);
          }
          // If the queue is empty, we will redirect to the cart page.
          else {
            jQuery('#' + Shopify.ButtonId).removeAttr('disabled');
            //jQuery('.cart-button').click();
            document.location.href = '/cart';
          }
        };

      Shopify.moveAlong();

    }else{

      	//alert('You need minimum of 6 items.');
        $("#product-form-{{ product.id }}").append( '<p id="error-q" class="warning animated bounceIn">You need minimum of 6 items.</p>' );
        $('#error-q').delay(5000).fadeOut('slow');

    }


  event.preventDefault();

});
</script>