{% if product-thumbnail %}
  <div class="{% if products_per_row == "2" %}six columns {% cycle collection_group_thumb: 'alpha', 'omega' %}{% elsif products_per_row == "3" %}four columns {% cycle collection_group_thumb: 'alpha', '', 'omega' %}{% else %}three columns {% cycle collection_group_thumb: 'alpha', '', '', 'omega' %}{% endif %} thumbnail {% cycle collection_group_mobile: 'even', 'odd' %}" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
{% else %}
  <div class="{% if products_per_row == "2" %}eight columns {% cycle collection_group_thumb: 'alpha', 'omega' %}{% elsif products_per_row == "3" %}one-third column {% cycle collection_group_thumb: 'alpha', '', 'omega' %}{% else %}four columns {% cycle collection_group_thumb: 'alpha', '', '', 'omega' %}{% endif %} thumbnail {% cycle collection_group_mobile: 'even', 'odd' %}" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
{% endif %}

  {% assign collection_handles = product.collections | map: 'handle' %}
  {% if product.featured_image.alt contains 'youtube' or image.alt contains 'vimeo' %}
    {% assign alt_text = product.title %}
  {% else %}
    {% assign alt_text = product.featured_image.alt %}
  {% endif %}

  <a href="{{ product.url | within: collection }}" itemprop="url">
    <div class="relative product_image">
      {% if products_per_row == "4" %}
        <img src="{{ 'loader.gif' | asset_url }}" data-src="{{ product.featured_image | product_img_url: 'large' }}" data-src-retina="{{ product.featured_image | product_img_url: 'grande' }}" alt="{{ alt_text | escape }}" />
      {% else %}
        <img src="{{ 'loader.gif' | asset_url }}" data-src="{{ product.featured_image | product_img_url: 'grande' }}" data-src-retina="{{ product.featured_image | product_img_url: '1024x1024' }}" alt="{{ alt_text | escape }}" />
      {% endif %}

      {% if settings.quick_shop_enabled %}
        <span data-fancybox-href="#product-{{ product.id }}" class="quick_shop ss-icon" data-gallery="product-{{ product.id }}-gallery">
          &#x002B;
        </span>
      {% endif %}
    </div>

    <div class="info">            
      <span class="title" itemprop="name">{{ product.title }}</span>
      {% if settings.display_vendor_collection %}
        <span itemprop="brand">{{ product.vendor }}</span>
      {% endif %}

      {% unless collection_handles contains 'coming-soon' %}
        <span class="price {% if product.compare_at_price_max > product.price %}sale{% endif %}" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          {% if product.available %}
            {% if product.price_varies and product.price_min > 0 %}
              <small><em>{{ 'products.general.from' | t }}</em></small>
            {% endif %}
              {% if product.price_min > 0 %} 
                <span itemprop="price">{{ product.price_min | money }}</span>
              {% else %}
                {{ settings.free_price_text }}
              {% endif %}
          {% else %}
            <span class="sold_out">{{ 'products.product.sold_out' | t }}</span>
          {% endif %}
          {% if product.compare_at_price_max > product.price %}
            <span class="was_price">{{ product.compare_at_price_max | money }}</span>
          {% endif %}
        </span>
      {% endunless %}
    </div>
    {% if settings.sale_banner_enabled and product.compare_at_price_max > product.price %}
      <div class="sale_banner">{{ 'collections.general.sale' | t }}</div>
    {% endif %}

    {% if collection_handles contains 'new' %}
      <div class="new_banner">{{ 'collections.general.new' | t }}</div>
    {% endif %}
    {% if collection_handles contains 'coming-soon' %}
      <div class="new_banner">{{ 'collections.general.coming_soon' | t }}</div>
    {% endif %}
    {% if collection_handles contains 'pre-order' %}
      <div class="new_banner">{{ 'collections.general.pre_order' | t }}</div>
    {% endif %}
  </a>
  {% include 'collection-swatch' %}
</div>

{% if settings.quick_shop_enabled %}
  <div id="product-{{ product.id }}" class="modal product-{{ product.id }}">
    <div class="container section" style="width: inherit">
      
      <div class="eight columns" style="padding-left: 15px">
        {% include 'product-images' with 'modal' %}
      </div>
      
      <div class="six columns">
        <h3>{{ product.title }}</h3>
        {% if settings.display_vendor_collection %}
          <p class="vendor">
            <span itemprop="brand">{{ product.vendor | link_to_vendor }}</span>
          </p>
        {% endif %}

        {% unless collection_handles contains 'coming-soon' %}
          <p class="modal_price">
            <span class="sold_out">{% if product.available == false %}{{ 'products.product.sold_out' | t }}{% endif %}</span>
            <span class="current_price {% if product.compare_at_price_max > product.price %}sale{% endif %}">
              {% if product.available %}
                {% if product.price > 0 %} 
                  {{ product.price | money }} 
                {% else %}
                  {{ settings.free_price_text }}
                {% endif %}
              {% endif %}
            </span>
            <span class="was_price">
              {% if product.price < product.compare_at_price_max %}
                {{ product.compare_at_price | money }} 
              {% endif %}
            </span>
          </p>
        
          {% include 'product-notify-me' %}
        {% endunless %} 

        {% if settings.product_description_position == "top" %}
          {% if settings.quick_shop_full_description %}
            {{ product.description | split: '<!-- split -->' | first }}

            <a href="{{ product.url | within: collection }}" class="view_product_info" title="{{ product.title | escape }} Details">{{ 'collections.general.view_product_details_html' | t }} <span class="icon-right-arrow"></span></a>

          {% else %}
            <p>
              {{ product.description | strip_html | truncatewords: settings.description_words | replace: 'Description', '' | replace: 'Dimensions', '' | replace: 'Details', '' | replace: 'Specs', '' | replace: 'Shipping', '' | replace: 'Size', ''  }}

              <a href="{{ product.url | within: collection }}" class="view_product_info" title="{{ product.title | escape }} Details">{{ 'collections.general.view_product_details_html' | t }} <span class="icon-right-arrow"></span></a>
            </p>
          {% endif %}
          <hr />
        {% endif %}
        
        {% unless collection_handles contains 'coming-soon' %}
          {% include 'product-form' %}
        {% endunless %}

        {% if settings.product_description_position == "bottom" %}
          <hr />
          {% if settings.quick_shop_full_description %}
            {{ product.description | split: '<!-- split -->' | first }}
            <a href="{{ product.url | within: collection }}" class="view_product_info" title="{{ product.title | escape }} Details">{{ 'collections.general.view_product_details_html' | t }} <span class="icon-right-arrow"></span></a>

          {% else %}
            <p>
              {{ product.description | strip_html | truncatewords: settings.description_words | replace: 'Description', '' | replace: 'Dimensions', '' | replace: 'Details', '' | replace: 'Specs', '' | replace: 'Shipping', ''  }}         

              <a href="{{ product.url | within: collection }}" class="view_product_info" title="{{ product.title | escape }} Details">{{ 'collections.general.view_product_details_html' | t }} <span class="icon-right-arrow"></span></a>
            </p>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}