<div class="chart-container">
      <table class="no-borders">
      <!--add row for each item-->
       {% assign count = 1 %}
       {% assign show_sizes = true %}
        
       {% for variant in product.variants %}
        {% assign size = variant.title | split: '/' %}
  		
          {% if count == 1  %}
        	<tr>
              <td width="35">
                <!-- color column -->
                
                {% if show_sizes == true  %}
                <span class="size-title no-border">&nbsp;&nbsp;&nbsp;</span>
                {% endif %}
                
                 
                {% assign color_name = size | first | strip %}
                
                
                {% for option in product.options %}
                  {% if option == 'Color' %}
                    {% assign index = forloop.index0 %}
                    {% assign colorlist = '' %}
                    {% assign color = '' %}
                    
                	{% for variant in product.variants %}
                      {% capture color | strip %}
                      {{ variant.options[index] }}
                      {% endcapture %}
                      {% unless colorlist contains color %}
               
                		{% assign color_temp = color | strip %}
                
                		{% if color_name == color_temp %}
                <div class="swatch_options">
                
                <div class="swatch clearfix" data-option-index="{{ index }}">
                
             		<input id="swatch-{{ index }}-{{ color | handle | strip }}-{{ product.id }}" type="radio" name="option-{{ index }}" 
                               value="{{ color | handle | strip }}" />
                    <div data-value="{{ color | handle | strip }}" class="swatch-element color {{ color | handle | strip }}-swatch">
                          
                       
                    <label for="swatch-{{ index }}-{{ color | handle | handle }}-{{ product.id }}" 
                                  style="">
                          <img src="{{ color | handle | append: '.' | append: 'png' | asset_url }}" alt="{{ color | handle  }}" width="35" height="35" />
                     </label>
                          
   	<script type="text/javascript">
        $('.swatch[data-option-index="{{ index }}"] .{{ color | handle }}-swatch', '#product-form-{{ product.id }}').removeClass('soldout').addClass('available').find(':radio');
      </script>
                         
                        </div>
                </div>
                </div>
                
                
                
                
                
                
                		{% endif %}
                
                      {% capture tempList %}
                      {{colorlist | append: color | append: ' '}}
                      {% endcapture %}
                      {% assign colorlist = tempList %}
                
                    {% endunless %}
                    {% endfor %}
                  {% endif %}
                {% endfor %}
                
              </td>
              <td>
                	{% if show_sizes == true  %}
                		<span class="size-title no-border">&nbsp;&nbsp;&nbsp;</span>
                	{% endif %}
                
                	<span class="color-title">{{ size | first }}</span>
              </td>
          {% endif %}
        
          <td>
            {% if show_sizes == true  %}
            <span class="size-title">{{ size | last }}</span>
            {% endif %}
            <input class="quantity-value" data-size="{{ size | last |strip }}" data-color="{{ size | first |strip }}" data-variant-id="{{variant.id}}" type="text" name="quantity-{{variant.id}}" id="quantity-{{variant.id}}" value="0"/>
          </td>
            
        {% if count == uniqueColors.size  %}
              
              <td>
                {% if show_sizes == true  %}
                <span class="size-title">Totals</span>
                {% endif %}
              	<input type="text" disabled data-total-field="{{ size | first |strip }}" value="0" class="total-row" data-variant-id="{{variant.id}}" />
              </td>
              
        	</tr>
        
        	{% assign count = 1 %}
        	{% assign show_sizes = false %}
        
        {% else %}
            {% assign count = count | plus: 1 %}
        	
        {% endif %}
        
	   {% endfor %}
        
      <tr>
        <td></td>
        <td></td>
        {% assign limit = uniqueColors.size | plus: 1 %}
        
        
        {% for option in uniqueColors %}
        <td>
          	<input disabled type="text" data-total-field-size="{{ option }}" value="0" class="total-size total-row"  />
        </td>
        {% endfor %}
        
        <td>
        	<input type="text" value="0" class="super-total total-row" id="super-total"  />  
        </td>
        
      </tr>  
        
      <tr>
        <td colspan="{{ uniqueColors.size | plus: 3 }}" class="title">
          <input type="submit" name="add" value="Add To Cart" id="purchase" id="add" class="button"/>
        </td>
      </tr>
        
      </table>
       
    </div>