{% comment %}
  Facebook Open Graph meta tags
{% endcomment %}

<meta name="author" content="{{ shop.name }}">
<meta property="og:url" content="{{ canonical_url }}">
<meta property="og:site_name" content="{{ shop.name }}">

{% if template contains 'product' %}
  {% comment %}<locksmith:6578>{% endcomment %}
    {% include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:type" content="product">{% endif %}
    {% comment %}original: <meta property="og:type" content="product">{% endcomment %}
  {% comment %}</locksmith:6578>{% endcomment %}
  {% comment %}<locksmith:bd6a>{% endcomment %}
    {% include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:title" content="{{ product.title | strip_html | escape }}">{% endif %}
    {% comment %}original: <meta property="og:title" content="{{ product.title | strip_html | escape }}">{% endcomment %}
  {% comment %}</locksmith:bd6a>{% endcomment %}
  {% for image in product.images limit:3 %}
    {% comment %}<locksmith:da64>{% endcomment %}
      {% include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:image" content="http:{{ image.src | product_img_url: 'grande' }}">{% endif %}
      {% comment %}original: <meta property="og:image" content="http:{{ image.src | product_img_url: 'grande' }}">{% endcomment %}
    {% comment %}</locksmith:da64>{% endcomment %}
    {% comment %}<locksmith:f4a2>{% endcomment %}
      {% include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:image:secure_url" content="https:{{ image.src | product_img_url: 'grande' }}">{% endif %}
      {% comment %}original: <meta property="og:image:secure_url" content="https:{{ image.src | product_img_url: 'grande' }}">{% endcomment %}
    {% comment %}</locksmith:f4a2>{% endcomment %}
  {% endfor %}
  {% comment %}<locksmith:81d8>{% endcomment %}
    {% include 'locksmith-variables' %}{% if locksmith_access_granted %}<meta property="og:price:amount" content="{{ product.price | money_without_currency | strip_html | escape }}">{% endif %}
    {% comment %}original: <meta property="og:price:amount" content="{{ product.price | money_without_currency | strip_html | escape }}">{% endcomment %}
  {% comment %}</locksmith:81d8>{% endcomment %}
  {% comment %}<locksmith:d87e>{% endcomment %}
    {% include 'locksmith-variables' %}{% if locksmith_access_granted %}<meta property="og:price:currency" content="{{ shop.currency }}">{% endif %}
    {% comment %}original: <meta property="og:price:currency" content="{{ shop.currency }}">{% endcomment %}
  {% comment %}</locksmith:d87e>{% endcomment %}
  {% for image in product.images %}
    {% if image.alt contains 'youtube' or image.alt contains 'vimeo' %}
      {% assign src = image.alt | split: 'src="' %}
      {% assign src = src[1] | split: '"' | first %}
      <meta property="og:video" content="{{ src }}">
    {% endif %}
  {% endfor %}  
{% elsif template contains 'collection' %}
  {% comment %}<locksmith:7d37>{% endcomment %}
    {% include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:type" content="product.group">{% endif %}
    {% comment %}original: <meta property="og:type" content="product.group">{% endcomment %}
  {% comment %}</locksmith:7d37>{% endcomment %}
  {% comment %}<locksmith:4521>{% endcomment %}
    {% include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:title" content="{{ collection.title | strip_html | escape }}">{% endif %}
    {% comment %}original: <meta property="og:title" content="{{ collection.title | strip_html | escape }}">{% endcomment %}
  {% comment %}</locksmith:4521>{% endcomment %}
  {% if collection.products_count > 0 %}
    {% assign image = collection.products.first.featured_image %}
    {% comment %}<locksmith:2950>{% endcomment %}
      {% include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:image" content="http:{{ image.src | product_img_url: 'grande' }}">{% endif %}
      {% comment %}original: <meta property="og:image" content="http:{{ image.src | product_img_url: 'grande' }}">{% endcomment %}
    {% comment %}</locksmith:2950>{% endcomment %}
    {% comment %}<locksmith:4226>{% endcomment %}
      {% include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:image:secure_url" content="https:{{ image.src | product_img_url: 'grande' }}">{% endif %}
      {% comment %}original: <meta property="og:image:secure_url" content="https:{{ image.src | product_img_url: 'grande' }}">{% endcomment %}
    {% comment %}</locksmith:4226>{% endcomment %}
  {% endif %}
{% elsif template contains 'article' %}
  {% comment %}<locksmith:4b2f>{% endcomment %}
    {% include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:type" content="article">{% endif %}
    {% comment %}original: <meta property="og:type" content="article">{% endcomment %}
  {% comment %}</locksmith:4b2f>{% endcomment %}
  {% comment %}<locksmith:026d>{% endcomment %}
    {% include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:title" content="{{ article.title | strip_html | escape }}">{% endif %}
    {% comment %}original: <meta property="og:title" content="{{ article.title | strip_html | escape }}">{% endcomment %}
  {% comment %}</locksmith:026d>{% endcomment %}
  {% assign img_tag = '<' | append: 'img' %}
  {% if article.image %}
    {% comment %}<locksmith:0486>{% endcomment %}
      {% include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:image" content="http:{{ article.image | img_url: 'grande' }}">{% endif %}
      {% comment %}original: <meta property="og:image" content="http:{{ article.image | img_url: 'grande' }}">{% endcomment %}
    {% comment %}</locksmith:0486>{% endcomment %}
    {% comment %}<locksmith:9290>{% endcomment %}
      {% include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:image:secure_url" content="https:{{ article.image | img_url: 'grande' }}">{% endif %}
      {% comment %}original: <meta property="og:image:secure_url" content="https:{{ article.image | img_url: 'grande' }}">{% endcomment %}
    {% comment %}</locksmith:9290>{% endcomment %}
  {% elsif article.content contains img_tag %}
    {% assign src = article.content | split: 'src="' %}
    {% assign src = src[1] | split: '"' | first | remove: 'https:' | remove: 'http:' %}
    {% if src %}
      {% comment %}<locksmith:31bb>{% endcomment %}
        {% include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:image" content="http:{{ src }}">{% endif %}
        {% comment %}original: <meta property="og:image" content="http:{{ src }}">{% endcomment %}
      {% comment %}</locksmith:31bb>{% endcomment %}
      {% comment %}<locksmith:0dd8>{% endcomment %}
        {% include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:image:secure_url" content="https:{{ src }}">{% endif %}
        {% comment %}original: <meta property="og:image:secure_url" content="https:{{ src }}">{% endcomment %}
      {% comment %}</locksmith:0dd8>{% endcomment %}
    {% endif %}
  {% endif %}
{% elsif template contains 'blog' %}
  {% comment %}<locksmith:cf06>{% endcomment %}
    {% include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:type" content="article">{% endif %}
    {% comment %}original: <meta property="og:type" content="article">{% endcomment %}
  {% comment %}</locksmith:cf06>{% endcomment %}
  {% comment %}<locksmith:c5ab>{% endcomment %}
    {% include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:title" content="{{ blog.title | strip_html | escape }}">{% endif %}
    {% comment %}original: <meta property="og:title" content="{{ blog.title | strip_html | escape }}">{% endcomment %}
  {% comment %}</locksmith:c5ab>{% endcomment %}
  {% if blog.articles_count > 0 %}
    {% assign article = blog.articles.first %}
    {% assign img_tag = '<' | append: 'img' %}
    {% if article.image %}
      {% comment %}<locksmith:ef83>{% endcomment %}
        {% include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:image" content="http:{{ article.image | img_url: 'grande' }}">{% endif %}
        {% comment %}original: <meta property="og:image" content="http:{{ article.image | img_url: 'grande' }}">{% endcomment %}
      {% comment %}</locksmith:ef83>{% endcomment %}
      {% comment %}<locksmith:77a2>{% endcomment %}
        {% include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:image:secure_url" content="https:{{ article.image | img_url: 'grande' }}">{% endif %}
        {% comment %}original: <meta property="og:image:secure_url" content="https:{{ article.image | img_url: 'grande' }}">{% endcomment %}
      {% comment %}</locksmith:77a2>{% endcomment %}
    {% elsif article.content contains img_tag %}
      {% assign src = article.content | split: 'src="' %}
      {% assign src = src[1] | split: '"' | first | remove: 'https:' | remove: 'http:' %}
      {% if src %}
        {% comment %}<locksmith:e1e4>{% endcomment %}
          {% include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:image" content="http:{{ src }}">{% endif %}
          {% comment %}original: <meta property="og:image" content="http:{{ src }}">{% endcomment %}
        {% comment %}</locksmith:e1e4>{% endcomment %}
        {% comment %}<locksmith:56fe>{% endcomment %}
          {% include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:image:secure_url" content="https:{{ src }}">{% endif %}
          {% comment %}original: <meta property="og:image:secure_url" content="https:{{ src }}">{% endcomment %}
        {% comment %}</locksmith:56fe>{% endcomment %}
      {% endif %}
    {% endif %}
  {% endif %}
{% elsif template contains 'page' %}
  {% comment %}<locksmith:5289>{% endcomment %}
    {% include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:type" content="article">{% endif %}
    {% comment %}original: <meta property="og:type" content="article">{% endcomment %}
  {% comment %}</locksmith:5289>{% endcomment %}
  {% comment %}<locksmith:1918>{% endcomment %}
    {% include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:title" content="{{ page.title | strip_html | escape }}">{% endif %}
    {% comment %}original: <meta property="og:title" content="{{ page.title | strip_html | escape }}">{% endcomment %}
  {% comment %}</locksmith:1918>{% endcomment %}
  {% assign img_tag = '<' | append: 'img' %}
  {% if page.content contains img_tag %}
    {% assign src = page.content | split: 'src="' %}
    {% assign src = src[1] | split: '"' | first | remove: 'https:' | remove: 'http:' %}
    {% if src %}
      {% comment %}<locksmith:827a>{% endcomment %}
        {% include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:image" content="http:{{ src }}">{% endif %}
        {% comment %}original: <meta property="og:image" content="http:{{ src }}">{% endcomment %}
      {% comment %}</locksmith:827a>{% endcomment %}
      {% comment %}<locksmith:2553>{% endcomment %}
        {% include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:image:secure_url" content="https:{{ src }}">{% endif %}
        {% comment %}original: <meta property="og:image:secure_url" content="https:{{ src }}">{% endcomment %}
      {% comment %}</locksmith:2553>{% endcomment %}
    {% endif %}
  {% endif %}
{% else %}
  {% comment %}<locksmith:604d>{% endcomment %}
    {% include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:type" content="website">{% endif %}
    {% comment %}original: <meta property="og:type" content="website">{% endcomment %}
  {% comment %}</locksmith:604d>{% endcomment %}
  {% comment %}<locksmith:c6c5>{% endcomment %}
    {% include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:title" content="{{ page_title | escape }}">{% endif %}
    {% comment %}original: <meta property="og:title" content="{{ page_title | escape }}">{% endcomment %}
  {% comment %}</locksmith:c6c5>{% endcomment %}
  {% if settings.use_logo %}
    {% comment %}<locksmith:6d5b>{% endcomment %}
      {% include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:image" content="http:{{ 'logo.png' | asset_url }}">{% endif %}
      {% comment %}original: <meta property="og:image" content="http:{{ 'logo.png' | asset_url }}">{% endcomment %}
    {% comment %}</locksmith:6d5b>{% endcomment %}
    {% comment %}<locksmith:1f12>{% endcomment %}
      {% include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:image:secure_url" content="https:{{ 'logo.png' | asset_url }}">{% endif %}
      {% comment %}original: <meta property="og:image:secure_url" content="https:{{ 'logo.png' | asset_url }}">{% endcomment %}
    {% comment %}</locksmith:1f12>{% endcomment %}
  {% endif %}
{% endif %}
{% if page_description %}
  {% comment %}<locksmith:e935>{% endcomment %}
    {% include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:description" content="{{ page_description | escape }}">{% endif %}
    {% comment %}original: <meta property="og:description" content="{{ page_description | escape }}">{% endcomment %}
  {% comment %}</locksmith:e935>{% endcomment %}
{% endif %}

{% comment %}
  Twitter user name of the site, based on theme settings
{% endcomment %}
{% if settings.twitter_username != blank %}
  <meta name="twitter:site" content="@{{ settings.twitter_username }}">
{% endif %}
<meta name="twitter:card" content="summary">
{% if template contains 'product' %}
  {% comment %}<locksmith:343a>{% endcomment %}
    {% include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta name="twitter:title" content="{{ product.title }}">{% endif %}
    {% comment %}original: <meta name="twitter:title" content="{{ product.title }}">{% endcomment %}
  {% comment %}</locksmith:343a>{% endcomment %}
  {% comment %}<locksmith:ecd4>{% endcomment %}
    {% include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta name="twitter:description" content="{{ product.description | strip_html | truncatewords: 140, '' | escape }}">{% endif %}
    {% comment %}original: <meta name="twitter:description" content="{{ product.description | strip_html | truncatewords: 140, '' | escape }}">{% endcomment %}
  {% comment %}</locksmith:ecd4>{% endcomment %}
  {% comment %}<locksmith:063a>{% endcomment %}
    {% include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta name="twitter:image" content="https:{{ product.featured_image.src | img_url: 'medium' }}">{% endif %}
    {% comment %}original: <meta name="twitter:image" content="https:{{ product.featured_image.src | img_url: 'medium' }}">{% endcomment %}
  {% comment %}</locksmith:063a>{% endcomment %}
  {% comment %}<locksmith:f5a3>{% endcomment %}
    {% include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta name="twitter:image:width" content="240">{% endif %}
    {% comment %}original: <meta name="twitter:image:width" content="240">{% endcomment %}
  {% comment %}</locksmith:f5a3>{% endcomment %}
  {% comment %}<locksmith:f8c4>{% endcomment %}
    {% include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta name="twitter:image:height" content="240">{% endif %}
    {% comment %}original: <meta name="twitter:image:height" content="240">{% endcomment %}
  {% comment %}</locksmith:f8c4>{% endcomment %}
{% elsif template contains 'article' %}
  {% comment %}<locksmith:cdb2>{% endcomment %}
    {% include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta name="twitter:title" content="{{ article.title }}">{% endif %}
    {% comment %}original: <meta name="twitter:title" content="{{ article.title }}">{% endcomment %}
  {% comment %}</locksmith:cdb2>{% endcomment %}
  {% comment %}<locksmith:d3a9>{% endcomment %}
    {% include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta name="twitter:description" content="{{ article.excerpt_or_content | strip_html | truncatewords: 140, '' | escape }}">{% endif %}
    {% comment %}original: <meta name="twitter:description" content="{{ article.excerpt_or_content | strip_html | truncatewords: 140, '' | escape }}">{% endcomment %}
  {% comment %}</locksmith:d3a9>{% endcomment %}
  {% if article.image %}
    <meta property="twitter:image" content="http:{{ article.image | img_url: 'grande' }}">
  {% elsif article.content contains "<img" %}
    {% assign src = article.content | split: 'src="' %}
    {% assign src = src[1] | split: '"' | first | replace: '//cdn', 'http://cdn' | replace: 'http:http://', 'http://' | remove: 'https:' %}
    {% if src %}
      <meta property="twitter:image" content="{{ src }}">
    {% endif %}
  {% endif %}
{% endif %}